/* color a un texto */
p {
    color: rgb(68, 231, 231);
}

*{  /* estilos globales*/
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;

}



.title-name{  /*a todos los elementos de esta clase*/
    color: #090963; /* agregar color a cualquier texto*/
}

.title-name, .title-hobbies{ /* a dos clases distintas*/
    color: #090963;
}

.clase-1 .clase-2{
    color: #7e4319;
}